﻿@using Automapper.Database;

@model IEnumerable<ProductsDTO>

@{
    ViewBag.Title = "Products Page";
}

<div class="container">
    @if (Model.Any())
    {
        <h2>Products table</h2>
        <p>Using automapper we've converted data to our custom DTO class:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Supplier</th>
                    <th>Price</th>
                    <th>InStock</th>
                    <th>OnOrder</th>
                    <th>Qunantity</th>
                    <th>Discontinued</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Product in Model)
                {
                    <tr>
                        <td>@Product.Product</td>
                        <td>@Product.Category</td>
                        <td>@Product.Supplier</td>
                        <td>@Product.Price</td>
                        <td>@Product.InStock</td>
                        <td>@Product.OnOrder</td>
                        <td>@Product.Qunantity</td>
                        <td>@Product.Discontinued</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-danger">There is no data...</p>
    }
</div>
