﻿@using Automapper.Database;

@model IEnumerable<OrdersDTO>

@{
    ViewBag.Title = "Orders Page";
}

<div class="container">
    @if (Model.Any())
    {
        <h2>Orders table</h2>
        <p>Using automapper we've converted data to our custom DTO class:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Employee</th>
                    <th>OrderDate</th>
                    <th>RequiredDate</th>
                    <th>ShipAddress</th>
                    <th>ShipCity</th>
                    <th>ShipCountry</th>
                    <th>ShippedDate</th>
                    <th>ShipName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Order in Model)
                {
                    <tr>
                        <td>@Order.Customer</td>
                        <td>@Order.Employee</td>
                        <td>@Order.OrderDate.ToShortDateString()</td>
                        <td>@Order.RequiredDate.ToShortDateString()</td>
                        <td>@Order.ShipAddress</td>
                        <td>@Order.ShipCity</td>
                        <td>@Order.ShipCountry</td>
                        <td>@Order.ShippedDate.ToShortDateString()</td>
                        <td>@Order.ShipName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-danger">There is no data...</p>
    }
</div>
